body
{
  background-color: black;
}
h1
{
  border-bottom: 5px solid red;
  width: fit-content;
  background-color: blueviolet;
  margin: auto;
}
p
{
  border: 5px solid rgb(12, 105, 211);
  border-radius: 35%;
  font-size: 30px;
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: auto;
  background: none;
  color: yellow;
  padding: 30px 30px;
}